Repository ARCOMM/arc_misc, pull requests merged in 2020-07, with the labels that each got.

#23 Tweak sandboxes
  addons/sandbox/MPMissions/arc_sandbox_01.Altis/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_02.Stratis/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_03.Malden/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_04.Tanoa/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_05.Enoch/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_06.VR/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_07.Chernarus/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_08.Chernarus_Summer/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_09.Chernarus_Winter/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_10.CUP_Chernarus_A3/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_11.Woodland_ACR/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_12.Bootcamp_ACR/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_13.Utes/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_14.Takistan/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_15.Zargabad/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_16.Mountains_ACR/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_17.ProvingGrounds_PMC/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_18.Shapur_BAF/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_19.Desert_E/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_20.Sara/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_21.Sara_DBE1/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_22.SaraLite/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_23.Porto/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_24.Intro/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_25.pja307/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_26.WL_Rosche/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_27.FDF_Isle1_a/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_28.Bozcaada/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_29.Tembelan/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_30.tem_kujari/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_31.tem_summa/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_32.Ruha/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_33.tem_vinjesvingenc/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_34.pulau/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_35.Thirsk/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_36.ThirskW/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_37.fata/mission.sqm
  addons/sandbox/MPMissions/arc_sandbox_38.tem_anizay/mission.sqm
  addons/sandbox/XEH_clientPostInit.sqf
  addons/sandbox/XEH_serverPostInit.sqf
  addons/sandbox/initRespawns.sqf
  addons/sandbox/sandbox_bootstrap.inc
  addons/sandbox/sandbox_mission.sqm
  addons/sandbox/sandbox_settings.sqf
Labels: enhancement

#20 New Faction: ger_army_2010
  addons/tmf_loadouts/CfgLoadouts.hpp
  addons/tmf_loadouts/loadouts/ger_army_2010.hpp
  addons/tmf_loadouts/loadouts/ger_army_trop_2010.hpp
Labels: loadouts

#25 CBA Settings Update
  addons/cba_settings_userconfig/cba_settings.sqf
Labels: Settings

#26 Loadouts/au army 2018 v8
  addons/tmf_loadouts/CfgLoadouts.hpp
  addons/tmf_loadouts/loadouts/au_army_2018.hpp
Labels: loadouts

#24 Move unit/vehicle init to function
  addons/difficulty/CfgEventhandlers.hpp
  addons/difficulty/XEH_PREP.sqf
  addons/difficulty/XEH_preInit.sqf
  addons/difficulty/XEH_preStart.sqf
  addons/difficulty/XEH_vehicleInit.sqf
  addons/difficulty/fnc_unitInit.sqf
  addons/difficulty/fnc_vehicleInit.sqf
Labels: enhancement

#30 Loadouts/us rangers 2010
  addons/tmf_loadouts/CfgLoadouts.hpp
  addons/tmf_loadouts/loadouts/us_rangers_2010.hpp
Labels: loadouts

#38 Fix USM stuff
  addons/usm_tweaks/CfgGroups.hpp
  addons/usm_tweaks/CfgVehicles.hpp
  addons/usm_tweaks/CfgWeapons.hpp
  addons/usm_tweaks/config.cpp
  addons/usm_tweaks/script_component.hpp
Labels: bug

#39 Added loadout: US_USMC_2010_wdl
  addons/tmf_loadouts/CfgLoadouts.hpp
  addons/tmf_loadouts/loadouts/US_USMC_2010_wdl.hpp
Labels: loadouts

#36 Added loadout: US_USMC_2003
  addons/tmf_loadouts/CfgLoadouts.hpp
  addons/tmf_loadouts/loadouts/US_USMC_2003.hpp
Labels: loadouts

#35 Added loadout: US_USMC_1985
  addons/tmf_loadouts/CfgLoadouts.hpp
  addons/tmf_loadouts/loadouts/US_USMC_1985.hpp
Labels: loadouts

#34 Added loadout: US_Army_2003
  addons/tmf_loadouts/CfgLoadouts.hpp
  addons/tmf_loadouts/loadouts/us_army_2003.hpp
Labels: loadouts

#33 Added loadout: US_Army_1970
  addons/tmf_loadouts/CfgLoadouts.hpp
  addons/tmf_loadouts/loadouts/us_army_1970.hpp
Labels: loadouts

#43 Disable cookoff for vehicles
  addons/cba_settings_userconfig/cba_settings.sqf
Labels: Settings
