Repository ARCOMM/arc_misc, pull requests merged in 2020-05, with the labels that each got.

#5 General fixes, loadout naming changes
  addons/mnp_hideunits/script_component.hpp
  addons/tmf_loadouts/CfgLoadouts.hpp
  addons/tmf_loadouts/config.cpp
  addons/tmf_loadouts/example_loadout.hpp
  addons/tmf_loadouts/loadouts/ru_army_2010.hpp
  addons/tmf_loadouts/loadouts/tk_locals.hpp
  addons/tmf_loadouts/loadouts/uk_army_2010.hpp
  addons/tmf_loadouts/loadouts/us_army_1985.hpp
  addons/tmf_loadouts/loadouts/us_army_2010.hpp
  addons/tmf_loadouts/macros.inc
  addons/tmf_loadouts/tmf_adminMenu_authorized_players.hpp
Labels: loadouts

#7 Add settings via addon
  addons/cba_settings_userconfig/$PBOPREFIX$
  addons/cba_settings_userconfig/cba_settings.sqf
  addons/cba_settings_userconfig/config.cpp
Labels: Settings

#15 CBA settings for all AI options available
  addons/difficulty/CfgAILevelPresets.hpp
  addons/difficulty/CfgAISkill.hpp
  addons/difficulty/CfgEventhandlers.hpp
  addons/difficulty/XEH_preInit.sqf
  addons/difficulty/XEH_unitInit.sqf
  addons/difficulty/XEH_vehicleInit.sqf
  addons/difficulty/config.cpp
  addons/difficulty/initSettings.sqf
Labels: enhancement

#16 STUI bug fix
  addons/cba_settings_userconfig/cba_settings.sqf
Labels: bug

#18 Ai settings
  addons/cba_settings_userconfig/cba_settings.sqf
  addons/difficulty/CfgBrains.hpp
  addons/difficulty/XEH_unitInit.sqf
  addons/difficulty/initSettings.sqf
Labels: Settings
