Repository ARCOMM/arc_misc, pull requests merged in 2020-10, with the labels that each got.

#74 Updated Loadout: US_Army_1970
  addons/tmf_loadouts/loadouts/us_army_1970.hpp
Labels: loadouts

#70 Hide duplicate weapons, ammo, add AK12 545
  addons/weapons/CfgMagazines.hpp
  addons/weapons/CfgWeapons.hpp
  addons/weapons/config.cpp
  addons/weapons/script_component.hpp
Labels: Hacktoberfest, enhancement

#76 Replace German RAT with PZF3
  addons/tmf_loadouts/loadouts/ger_army_2010.hpp
  addons/tmf_loadouts/loadouts/ger_army_trop_2010.hpp
Labels: loadouts

#75 Added loadout: US_Rangers_2020
  addons/tmf_loadouts/CfgLoadouts.hpp
  addons/tmf_loadouts/loadouts/US_Rangers_2020.hpp
Labels: loadouts

#77 Added loadout: UK_Army_2005
  addons/tmf_loadouts/CfgLoadouts.hpp
  addons/tmf_loadouts/loadouts/UK_Army_2005.hpp
Labels: loadouts

#78 Added loadout: US_Army_2018
  addons/tmf_loadouts/CfgLoadouts.hpp
  addons/tmf_loadouts/loadouts/US_Army_2018.hpp
Labels: loadouts

#80 Update settings
  addons/cba_settings_userconfig/cba_settings.sqf
Labels: Hacktoberfest, Settings

#81 go away trigger sound
  addons/cba_settings_userconfig/cba_settings.sqf
Labels: Hacktoberfest, Settings, bug
