Repository ARCOMM/arc_misc, pull requests merged in 2020-11, with the labels that each got.

#82 Fixed MVD loadout tooltip
  addons/tmf_loadouts/CfgLoadouts.hpp
Labels: bug, loadouts

#83 Move AI initialization to postInit
  addons/difficulty/CfgEventhandlers.hpp
  addons/difficulty/XEH_preInit.sqf
  addons/difficulty/fnc_unitInit.sqf
Labels: bug

#84 Add Discord Rich Presence
  ArmaDiscordRPC.dll
  ArmaDiscordRPC_x64.dll
  addons/discord/CfgEventHandlers.hpp
  addons/discord/XEH_PREP.sqf
  addons/discord/XEH_RscDisplayMultiplayerSetup.sqf
  addons/discord/XEH_preInit.sqf
  addons/discord/XEH_preStart.sqf
  addons/discord/config.cpp
  addons/discord/script_component.hpp
Labels: enhancement

#86 Updated Loadout: UK_RM_1982
  addons/tmf_loadouts/loadouts/uk_rm_1982.hpp
Labels: loadouts

#85 Updated Loadout: US_Rangers_2010
  addons/tmf_loadouts/loadouts/us_rangers_2010.hpp
Labels: loadouts
